@import url('https://fonts.googleapis.com/css?family=Julee|Princess+Sofia');

:root {
    --trans: all 300ms ease-in-out;

    --timer: 'Princess Sofia', cursive;
    --questions: 'Julee', cursive;
}


body, html {
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/bg1a.JPG");
    background-size: cover;
    background-color: #000;
    font-family: var(--questions);
}

.container {
    height: 100%;
    margin: 0 auto;
}

#timer {
    padding: 20px 50px;
    position: absolute;
    font-family: var(--timer);
    color: #fff;
    font-size: 40px;
}

#score h4 {
    color: #aaa;
    font-family: var(--questions);
}

.card {
    height: 70%;
    min-height: 445px;
    box-shadow: 30px 30px 50px 0px #000000bd;
    background-color: #ffffff00;
    margin-top: -15px;
}

.card-img {
    height: 100%;
    opacity: .35;
}

.card-img-overlay {
    box-shadow: inset 0px 0px 30px 10px #000000ab;
}

.round {
    border-radius: 10px;
}

.img-head {
    height: 30%;
    margin: -15px 30%;
}

#multi-choice {
    overflow: auto;
}

.card-question h1 {
    letter-spacing: 3px;
    font-size: 35px;
    text-shadow: 5px 5px 20px #000000,
                -5px -5px 20px #000000;
}

.choice {
    width: 80%;
    /* height: 60px; */
    padding: 8px 15px;
    margin: 15px auto;
    box-shadow: inset 0px 0px 10px 0px #aaa;
    font-size: 20px;
    background-color: #4e4631c7;
    transition: var(--trans);
    letter-spacing: 1px;
}

.choice:hover {
    cursor:pointer;
    background-color: #aaaaaa7a;
    box-shadow: inset 0px 0px 0px 0px #ffffffc7,
                0px 0px 10px 0px #000000c7;
}

.message {
    width: 500px;
    height: 240px;
    margin-top: -100px;
    margin-left: -250px;
    position: absolute;
    top: 35%;
    left: 50%;
    background-image: url(../images/unnamed2.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .8;
    text-align: center;
    padding: 10px;
}

.message h1 {
    font-size: 90px;
    line-height: 150px;
    color: #b11b1b;
    text-shadow: 0px 0px 2px #000000;
    opacity: 1;
}

.message p {
    font-size: 20px;
    margin-top: -15px;
    text-shadow: 2px 2px 5px #fff,
                -2px -2px 5px #fff;
}

.final-score {
    padding-top: 100px;
    position: absolute;
}

.final-score h1{
    text-align: center;
    font-size: 80px;
    line-height: 120px;
    text-shadow: 0px 0px 30px #000000;
}

#restart {
    width: 200px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #7e730f;
    border: none;
    transition: var(--trans);
    text-align: center;
    color: #fff;
}

#restart:hover {
    box-shadow: 2px 2px 10px #111;
    text-decoration: none;

}

#restart:active {
    box-shadow: inset 2px 2px 10px #111;
}

.disappear {
    display: none;
}


.start-btn {
    width: 100%;
}

.start-pg {
    width: 100%;
    min-width: 220px;
    height: 600px;
    opacity: .7;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.start-pg:hover {
    opacity: 1;
}

.start-pg p {
    width: 150px;
    left: 50%;
    margin-left: -75px;
    font-size: 30px;
    color: #fff;
    margin-bottom: -100px;
    position: absolute;
}

@media (max-width: 768px) {
    #timer {
        padding: 10px 20px;
        font-size: 25px;
    }

    #score h4 {
        font-size: 18px;
    }

    .card {
        height: 70%;
        min-height: 325px;
    }

    .card-question {
        height: auto;
    }

    .card-question h1 {
        letter-spacing: 1px;
        font-size: 25px;
    }

    .choice {
        height: auto;
        padding: 5px 15px;
        margin: 15px auto;
        font-size: 18px;
        letter-spacing: .5px;
    }
}

@media (max-width: 576px) {
    .width-adjuster {
        margin-bottom: -10px;
    }

    .message {
        width: 400px;
        height: 192px;
        margin-top: -96px;
        margin-left: -200px;
    }

    .message h1 {
        font-size: 85px;
    }
}

@media (max-width: 425px) {
    .width-adjuster {
        margin-top: 10px;
    }

    .card-img-overlay {
        padding: 20px 10px;
    }

    .card-question h1 {
        letter-spacing: .5px;
        font-size: 22px;
    }

    .choice {
        height: auto;
        padding: 5px 15px;
        margin: 15px auto;
        font-size: 15px;
        letter-spacing: .5px;
    }

    .message {
        width: 300px;
        height: 144px;
        margin-top: -72px;
        margin-left: -150px;
        padding: 10px;
    }

    .message h1 {
        font-size: 75px;
        line-height: 120px;
    }
}

@media (max-width: 380px) {

}